<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Connecting CSS files -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/item_preview.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/body.css" type="text/css" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<!-- Connecting Javascript files -->
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/index.js"></script>

<title><%= Title %></title>
  </head>
    <body>
      <%- include("../partials/_navbar") %>

      <div class="container">
        <div class="bookmark">
         <h3><%= Genre %></h3>
        </div>
        <div class="cover-image">
        <img src="<%= cover %>" alt=""/>
        </div>
        <div class="desc-box">
            <h1 class="book-title"><%= Title %></h1>
            <a class="description"><%= Description %></a>
            <br />
            <a class="seller">Sold by: <%= Seller %></a>
              <div class="price-tag-box">
              <p class="card-price">$<%= Price %></p>
              </div>
            <br />
            <div class="buttons-item">
              <form method="POST" action="">
                <button class="btn btn-outline-secondary" type="submit">Buy <i class="fa-solid fa-cart-arrow-down"></i></button>
              </form>
              <!-- <form method="POST" action="">
                <button class="btn btn-outline-secondary" type="submit">Make an offer <i class="fa-regular fa-handshake"></i></button> -->
              <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">Make an offer <i class="fa-regular fa-handshake"></i></button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send a message to <%= Seller %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="/conversations" method="POST" id="create-message">
                      <div class="modal-body">
                        <input type="hidden" value="<%= ownerId %>" name="owner_id">
                        <input type="hidden" value="<%= id %>" name="item_id">
                        <input name="message" type="text" placeholder="Write to <%= Seller %>"></input>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close <i class="fa-solid fa-xmark"></i></button>

                        <button type="submit" class="btn btn-outline-secondary">Send <i class="fa-solid fa-envelope"></i></button>
                      </div>
                    </div>
                  </form>

                  </div>
                </div>
              <!-- </form> -->
              <% if (favoriteId != undefined) { %>
                <form method="POST" action="../remove-from-fav/<%= favoriteId%>">
                  <button class="btn btn-outline-secondary" id="unfav-button" type="submit">Remove from favorites <br /><i class="fa-solid fa-heart-crack"></i></button>
                </form>
              <% } else { %>
                <form method="POST" action="/<%=itemId%>/addfavorite">
                  <button class="btn btn-outline-secondary" id="fav-button" type="submit">Add to favorites <i class="fa-solid fa-heart"></i></button>
                </form>
                <% } %>
            </div>
          </div>
      </div>
      <footer><%- include("../partials/_footer") %></footer>
        <!-- Bootstrap plugin JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
  </html>

