<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Connecting CSS files -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/edit_page.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css" />

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- Connecting Javascript files -->
    <script src="https://kit.fontawesome.com/3e656a71a0.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>



    <title>Edit page</title>
  </head>
    <body>
      <%- include("../partials/_navbar") %>
      <div class="container">
        <div class="bookmark">
         <h3><%= Genre %></h3>
        </div>
        <div class="old-info">
          <img class="cover-image" src="<%= cover %>" alt=""/>
          <div class="desc-box">
            <h1 class="book-title"><%= Title %></h1>
            <a class="description"><%= Description %></a>
            <br />
              <div class="price-tag-box">
              <p class="card-price">$<%= Price %></p>
              </div>
            <br />
        </div>
      </div>
    <div class="edit-box">
      <h3>Edit your item</h3>
      <form action="<%= id %>" method="POST" id="edit-form">
        <label class="new-title" for="Title">Title</label>
        <input class="new-title" type="text" name="Title" value="<%= Title %>" />
        <br/>
        <label class="new-image" for="image-url">Image</label>
        <input class="new-image" type="text" name="photo_url" value="<%= cover %>" />
        <br/>
        <label class="new-description" for="Description">Description</label>
        <input class="new-description"type="text" name="Description" value="<%= Description %>" />
        <br/>
        <label class="new-price" for="Price">Price ($)</label>
        <input class="new-price" type="number" name="Price" value="<%= Price %>" />
        <br/>
        <label class="new-genre" for="Genre">Genre</label>
        <input class="new-genre" type="text" name="Genre" value="<%= Genre %>" />
        <br/>
        <button class="btn btn-outline-secondary" type="submit" id="submit-edit">Submit</button>
        <a href="/listings/user"><button class="btn btn-outline-secondary" type="button" id="submit-edit">Back</button></a>
      </form>
    </div>
          </div>
    <footer><%- include("../partials/_footer") %></footer>
    <!-- Bootstrap plugin JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>
