<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />
    <link rel="stylesheet" href="/styles/item_preview.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/3e656a71a0.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </head>
  <body>
    <header><%- include("../partials/_navbar") %></header>
    <% for(const item of items) { %>
    <ul id="container">
      <li id="book-title"><%= item.title %></li>
      <img id="cover-image" src="<%= item.photo_url %>" alt="" />
      <li><%= item.description %></li>
      <br />
      <li>Price: $<%= item.price %></li>
      <br />
      <li>Genre: <%= item.genre %></li>
      <div id="edit-delete">
        <li>
          <a
            href="/listings/user/item/edit/<%= item.id %>"
            class="listing-button"
            ><button>Edit</button></a
          >
        </li>
        <li>
          <a href="" class="listing-button"
            ><form action="user/sold/<%= item.id %>" method="POST">
              <button type="submit">Mark Sold</button>
            </form></a
          >
        </li>
        <li>
          <form
            action="user/<%= item.item_id %>"
            class="listing-button"
            method="POST"
          >
            <button type="submit" id="deleteItem">Delete</button>
          </form>
        </li>
      </div>
    </ul>

    <% } %>

    <footer><%- include("../partials/_footer") %></footer>
    <!-- Bootstrap plugin JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
