<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home Page</title>

    <!-- Connecting CSS files -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listings.scss" type="text/css" />
    <link rel="stylesheet" href="/styles/body.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap"
      rel="stylesheet"
    />

    <!-- Connecting Javascript files -->
    <script
      src="https://kit.fontawesome.com/3e656a71a0.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <%- include("partials/_navbar") %>
    <main>
      <div class="main-box">
        <a class="title">Give your books a second life !</a>
      </div>
      <!-- implement caroussel -->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
          <% for (let i = 0; 3 > i; i += 3) { %>
          <div class="carousel-item active">
            <div class="row">
              <% items.slice(i, i + 3).map((item) => { %>
              <div class="col-md-4">
                <div class="single-box">
                  <div class="img-area">
                    <a class="img" href="/books/item/<%= item.id %>">
                      <img src="<%= item.photo_url %>" alt="book picture" />
                    </a>
                  </div>
                  <a href="/books/item/<%= item.id %>">
                    <h2><%= item.title %></h2>
                  </a>
                  <p>Superseller: <%= item.username %></p>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
          <% } for (let i = 3; items.length > i; i += 3) { %>
          <div class="carousel-item">
            <div class="row">
              <% items.slice(i, i + 3).map((item) => { %>

              <div class="col-md-4">
                <div class="single-box">
                  <div class="img-area">
                    <a class="img" href="/books/item/<%= item.id %>">
                      <img src="<%= item.photo_url %>" alt="book picture" />
                    </a>
                  </div>
                  <a href="/books/item/<%= item.id %>">
                    <h2><%= item.title %></h2>
                  </a>
                  <p>Superseller: <%= item.username %></p>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
          <% } %>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="central-box">
        <div class="buy-box" onclick="window.location='/books/search';">
          <h1>Buy books</h1>
        </div>
        <div class="sell-box" onclick="window.location='listings/new';">
          <h1>Sell books</h1>
        </div>
      </div>
      <!-- <div class="new-books" onclick="window.location='www.google.com';">
        <h1>Check out what's new</h1>
      </div> -->
    </main>
    <footer><%- include("partials/_footer") %></footer>

    <!-- Bootstrap plugin JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
